.menu__container {
  flex-direction: column;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 2rem 2rem;
  gap: 10rem;
  font-size: 2rem;
  height: 70rem;
  /** animation: slide 4s infinite linear;*/
}

.menu__a {
  display: flex;
  width: 100%;
  font-size: 1rem;
  justify-content: flex-end;
  margin: 3rem 0;
  text-align: end;
}

.menu__a p {
  width: 55%;
}

.menu__container--nav2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.menu__container a {
  color: white;
  text-decoration: none;
  /** animation: slide 4s infinite linear;*/
}

.list__container {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu__container--nav2 li:hover {
  color: aqua;
  cursor: pointer;
  opacity: 0.5;
}

.menu__container--nav3 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .menu__container {
    padding: 0 4rem;
    font-size: 2.5rem;
  }
}

/* @keyframes menu__container {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100%, 0);
  }
}*/

/* .menu__container--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

.nav__img-containerBlack {
  background-color: black;
}
.menu__container--nav2 {
  margin: auto;
  padding: 0 0 75px 0;
}

ul {
  list-style: none;
}

.menu__container--nav2 li {
  padding: 10px 2px;
}
.menu__container--nav3 a {
  text-decoration: none;
  color: white;
  margin: 35px;
}
.menu__container--nav3 a:hover {
  color: aqua;
  opacity: 0.5;
}
.menu__container--nav3 {
  margin: 70px;
}

.menu__a {
  background-color: brown;
  display: flex;
  font-size: medium;
  justify-content: end;
}

.menu__a a {
  text-align: end;
  font-size: 15px;
  width: 145px;
  height: 80px;
  margin: 25px 10px 0 0;
} */
